body{
    color: black;
    background-color: rgb(165, 42, 128);
    margin: 0px
    font-family: "Playfair Display", serif; 
    margin-bottom: 100px
   }
   header{
    border-bottom: orange;
    padding: 20px;
    font-size: 32px;
    color: pink;

   }
    
.chamada{
    background: rgb(231, 67, 130);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
chamada texto{
    margin-right: 5%;
}
h1{
    font-size: 34px ;
}
.categoria{
    background: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos leg{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img-hover{
    opacity: 1,0;
    border: 3px solid pink;
}