body{
    color: black;
    background-color: rgb(165, 42, 128);
    margin: 0px
    font-family: "Playfair Display", serif; 
    margin-bottom: 100px
   }
   header{
    border-bottom: orange;
    padding: 20px;
    font-size: 32px;
    color: pink;

   }
    
.chamada{
    background: rgb(231, 67, 130);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
chamada texto{
    margin-right: 5%;
}
h1{
    font-size: 34px ;
}
.categoria{
    background: aliceblue;
}